.widget {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-right: 20px;
  flex: 1;
  padding: 15px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  height: 100px;
  background: linear-gradient(102.36deg, #e19133, rgba(225, 51, 51, 0.37));
  border-radius: 5px;

  .title {
    font-weight: 700;
    line-height: 17px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
    margin: 20px 10px;
  }
  .value {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin-left: 10px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 350px) and (max-width: 550px) {
  .widget {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
  }
}
